/* Header */

.header {
	background-color: #f1f1f1;
	box-shadow: 0 0 6px 0px #808080;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	transition: all 0.4s ease;
	z-index: 150;
}

.header > .uk-navbar {
	flex-direction: row;
	height: 50px;
	justify-content: space-between;
}

.header ul,
.header ol,
.header li {
	margin: 0;
	padding: 0;
}

.header .logo {
	order: 1;
}

.header .logo img {
	height: 45px;
}

.menu-wrapper {
	align-items: center;
	display: flex;
	order: 2;
}

.menu-toggle {
	cursor: pointer;
	font-size: 26px;
	text-align: center;
}

.menu {
	background-color: #f1f1f1;
	box-shadow: 0px 0px 6px 0px #808080;
	display: none;
	left: 0px;
	position: absolute;
	right: 0;
	top: 50px;
}

.submenu-wrap {
	display: none;
}

.submenu-toggle {
	align-items: center;
	background: #dcdcdc;
	cursor: pointer;
	display: flex;
	flex: 1;
	height: 44px;
	justify-content: center;
	width: 44px;
}

.submenu-toggle:hover {
	text-shadow: 0px 0px 3px #2c94ff;
	color: #498fb9;
}

.submenu-wrap {
	background: #dcdcdc;
	flex: 1 1 100%;
}

.menu-item {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.menu-link {
	display: block;
	flex: 0 0 calc(100% - 44px);
	padding: 10px 3px 10px 15px;
}

.submenu .menu-link {
	display: block;
	flex: 1;
	padding: 10px 15px;
}

.header-search {
	order: 3;
	height: 50px;
	margin-left: 0;
}

/* Ajax Search */
.header-search-results,
.header-search-toggle {
	display: none;
}

.header-search-results.js-show {
	background: #f3f3f3;
	box-shadow: 0px 5px 12px -1px #7b7b7b;
	display: block;
	list-style: none;
	max-height: 360px;
    max-width: 600px;
	margin: 0;
    right: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	top: 50px;
    width: 100%;
	z-index: 160;
}

.header-search-item:nth-child(odd) {
	background-color: #f8f8f8;
}

.header-search-item a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	transition: all 0.3s ease;
}

.header-search-item a:hover {
	background-color: #1e87f2;
	color: #fff;
}

.header-search-item.header-search-close a:hover {
	background-color: #f04f4f;
}

/* Base Elements */
* {
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}


/* Layout */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    box-sizing: border-box;
	flex: 1;
	margin: 60px auto;
	width: 100%;
}

.footer {
	margin-top: auto;
}


/* Home */
.chapters-latest,
.manga-latest,
.manga-popular,
.search-results {
	display: flex;
	flex-wrap: wrap;
}

.chapters-latest .chapter,
.manga-latest .manga,
.manga-popular .manga,
.search-results .manga {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 10px;
	padding: 0;
	text-align: center;
}

/* Manga */
.manga {
	background-color: #fff;
}

.manga-single .data-block {
	display: flex;
	margin: 10px 0;
}

.manga-single .data-name {
	font-weight: bold;
	width: 100px;
}

.manga-single .manga-description .data-block {
	padding: 0 30px;
	flex-direction: column;
	max-width: 800px;
	margin: auto;
	width: 100%;
}

.manga-single .manga-description .data-name {
	border-bottom: 5px solid  #f8f8f8;
	font-weight: bold;
	padding: 20px;
	width: auto;
}

.manga-single .manga-description .uk-open .data-name {
	border-bottom: 5px solid  #ccc;
}

.manga-single .manga-description .data-value {
	padding: 10px 0 50px;
}

.manga-toggles {
	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
	color: #555;
	display: flex;
	padding: 50px 50px 0 50px;
}

.manga-toggles div {
	cursor: pointer;
	padding: 30px;
	margin: 0 0 -1px 0px;
	text-align: center;
	width: 200px;
}

.manga-toggles .tab-active {
	background-color: #f8f8f8;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 5px solid #1e87f0;
}

.manga-toggles div:not(.tab-active) {
	color: #aaa;
}

.manga-chapters,
.manga-comments {
	padding: 0 45px;
}

/* Manga Directory */
.directory-letters a {
	padding: 5px 10px;
}

.directory-list {
	margin-top: 20px;
}

.directory-manga {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 10px 0;
	max-width: 100%;
}

.directory-manga .fa {
	height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir-manga-title {
	display: block;
	font-size: 1.6rem;
	width: calc(100% - 41px);
}

.dir-manga-title a {
	box-sizing: border-box;
	display: block;
	padding: 4px 0 4px 25px;
	width: 100%;
}


.directory-manga.js-visible .fa,
.js-visible .dir-manga-title a {
	background-color: #222;
	color: #fff;
}

.directory-manga .fa:hover,
.dir-manga-title a:hover {
	background-color: #1e87f0;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.js-visible .dir-manga-content {
	display: flex;
	padding: 20px;
	width: 100%;
}

.js-hidden .dir-manga-content {
	display: none;
}

.dir-manga-genre {
	margin-top: 20px;
}

.manga-directory a.uk-label:hover,
.manga-archive a.uk-label:hover {
	background-color: #a0dcfd;
}

/* Profile */
.profile-info-left {
	width: 100px;
}

.profile-title {
	padding: 15px 15px 0px 15px;
}

.manga-subscription {
	align-items: center;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 30px;
}

.subscription-link,
.subscription-form,
.subscription-form input {
	width: 100%;
}

.subscription-link a {
	display: block;
	height: 100%;
	padding: 8px 15px;
}

.subscription-link a:hover {
	box-shadow: 0 0 3px #0f6ecd;
}


/* Edit Profile */
.edit-profile-form .form-group:first-child label {
	border: 2px dashed #ccc;
	display: block;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.edit-profile-form .form-group:first-child label:hover {
	cursor: pointer;
	border-color: #1e87f0;
}

.edit-profile-form .form-group:first-child input {
	display: none;
}

.form-group:last-child {
	align-items: center;
	display: flex;
	justify-content: space-between;
}


.profile-image {
	display: none;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.message.error {
	color: #d85050;
	padding: 30px;
	border: 1px solid #ffb9b9;
	background: #ffeaea;
}

.message.success {
	color: #24af4f;
	padding: 30px;
	border: 1px solid #98e499;
	background: #ebfff1;
}

/* Reader */
.reader-header {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 10px;
	width: 100%;
}

.reader-image > div {
	min-height: 350px;
	display: flex;
	align-items: center;
}

.reader-image > img {
	text-align: center;
}

.reader-nav-left {
	display: flex;
}

.reader-nav-left a {
	padding: 0 10px;
	display: block;
}


/* Comments */
.comment {
    margin-bottom: 75px;
}

.depth-1, .depth-2, .depth-3, .depth-4 {
    padding: 0 0 15px 15px;
	border-left: 1px solid #ccc;
}

.comment-container {
	background-color: #fafafa;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.comment-user-info {
	border-right: 1px solid #ccc;
	text-align: center;
    padding: 0;
	width: 55px;
}

.comment-author {
	font-size: 22px;
	margin-right: 15px;
}

.comment-meta {
	align-items: center;
	background-color: #f3f3f3;
	border-bottom: 1px solid #ccc;
	display: flex;
	padding: 10px;
	width: 100%;
}

.comment-body {
    padding: 25px 25px 65px 25px;
}

.comment-user-image {
	border-bottom: 1px solid #ccc;
}

.comment-url {
    font-size: 12px;
    margin-left: 0;
}

.comment-reply-url {
	background-color: #f3f3f3;
	border-top: 1px solid #ccc;
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.comment-reply-url a {
	display: block;
	padding: 10px;
}

.comment-container form {
	padding: 0px 15px 40px 15px;
	margin-top: -55px;
}

.comment-content {
	background-color: #fff;
	padding: 0;
	position: relative;
	width: calc(100% - 55px);
}


/* Media Queries */
/* bigger than 720px/45em */
@media all and (min-width: 45em) {

	.content {
		margin-top: 30px;
	}

	.header {
		position: relative;
	}
	
	.menu-toggle {
		display: none;
	}

	.menu {
		display: flex!important;
		height: 44px;
	}

	.header > .uk-navbar,
	.header-search,
	.header .logo img {
		height: auto;
	}

	.header .logo {
		padding: 10px;
	}


	.menu-wrapper {
		margin-right: auto;
	}

	.menu {
		background: transparent;
		box-shadow: none;
		position: static;
	}

	.submenu-toggle {
		background: transparent;
	}

	.menu-item {
		display: flex;
		align-items: center;
	}
	
	.submenu-wrap {
		background: #f1f1f1;
		box-shadow: 0px 0px 3px 0px #808080;
		position: absolute;
		right: 0;
		top: 45px;
	}

	.header-search-results.js-show {
		top: 75px;
	}

	.manga-subscription {
		flex-direction: row;
	}

	.subscription-link {
		flex: 9;
	}

	.subscription-form {
		flex: 1;
	}

	/* Comments */
	.depth-1, .depth-2, .depth-3, .depth-4 {
		margin: 0 0 15px 50px;
		border-left: 0;
	}

	.comment-user-info {
		width: 101px;
	}

	.comment-content {
		width: calc(100% - 101px);
	}
	/* Comments end */

}

/* bigger than 960px/60em */
@media all and (min-width: 60em) {
	/* Menu */
	.header {
		position: relative;
	}

	/* Comments */
	.comment-user-info {
		width: 201px;
	}

	.comment-content {
		width: calc(100% - 201px);
	}
	/* Comments end */
}
